body {
  background: #29AB46;
}

circle {
  fill: red;
  stroke-width: 1.5px;
}

#title {
	position: absolute;
	top: 0px;
	left: 10px;
	font-family: helvetica;
}

#monster-box {
	position: absolute;
	top: 0px;
	left: 0px;
}